body {
    padding: 0;
    margin: 0 auto;
}
.formBox {
    border: 1px solid black;
    padding: 30px;
}

.nameError,
.tellError,
.mailError {
    font-size: 18px;
    color: red;
}

.inputName,
.inputTel,
.inputMail {
    border-radius: 8px;
    height: 25px;
}
.inputError {
    border: 3px solid red;
}

.submit {
    margin-top: 30px;
    background: rgb(170, 159, 159);
    border-radius: 5px;
    color: white;
}
.submit:hover {
    background: rgb(107, 104, 104);
}
